<a href="https://colab.research.google.com/github/omkarmm19/Python-Essentials/blob/main/Module7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list = ['physics','chemistry', 1996,2000];
print("Value available at index 2: ")
print(list[2])
list[2]=2001;
print("New value available at index 2: ")
print(list[2])

Value available at index 2:
1996
New value available at index 2:
2001

In [ ]:
 fruits=["orange","kiwi","melon","mango","apple","banana"]
 print(fruits[2:5])

['melon', 'mango', 'apple']

In [ ]:
 fruits=["orange","kiwi","melon","mango","apple","banana"]
 print(len(fruits))

6

In [ ]:
thislist=["cat","cat","dog","cow"]
print(len(thislist))

4

In [ ]:
list1=["a","b","c"]
list2=[1,2,3]

list3=list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1=["Python","R","Julia"]
list2=[1,2,3]

list1.extend(list2)
print(list1)

['Python', 'R', 'Julia', 1, 2, 3]

In [ ]:
flowers=["rose","sunflower","lotus","lily"]
flowers_copy=flowers.copy()
print(flowers_copy)

['rose', 'sunflower', 'lotus', 'lily']

In [ ]:
flowers=["rose","sunflower","lotus","lily"]
flowers.remove("sunflower")
print(flowers)

['rose', 'lotus', 'lily']

In [ ]:
thislist=["cat","dog","cow"]
del thislist[0]
print(thislist)

['dog', 'cow']

In [ ]:
thislist=["cat","dog","cow"]
thislist.pop()
print(thislist)

['cat', 'dog']

In [ ]:
thislist=["cat","dog","cow"]
thislist.insert(1,"horse")
print(thislist)
thislist.insert(2,"elephant")
print(thislist)

['cat', 'horse', 'dog', 'cow']
['cat', 'horse', 'elephant', 'dog', 'cow']

In [ ]:
thislist=["cat","dog","cow"]
thislist.clear()
print(thislist)

[]

In [ ]:
 fruits=["orange","kiwi","melon","mango","apple","banana"]
 fruits.reverse()
 print(fruits)

['banana', 'apple', 'mango', 'melon', 'kiwi', 'orange']

In [ ]:
l = [1,2,3,4]
print(l[-3])
print(l[-1])
print(l[-2])

2
4
3

In [ ]:
num1={99,100,101,73,2,5,66}
num2={102,100,73,2,5}

num1.intersection_update(num2)
print("Intersection of num1 and num2:",num1)
print("The num1:",num1)
print("The num2:",num2)

Intersection of num1 and num2: {73, 2, 100, 5}
The num1: {73, 2, 100, 5}
The num2: {2, 100, 5, 102, 73}

In [ ]:
empty_tuple=()
print(empty_tuple)

()

In [ ]:
num_tuple=(1,2,8,6,56,48499,599)
print(num_tuple)
print(type(num_tuple))

(1, 2, 8, 6, 56, 48499, 599)
<class 'tuple'>

In [ ]:
mix_tupl=(1,259,"bumblebee",2.5,8.9,"Camro")
print(mix_tupl)
print(type(mix_tupl))

(1, 259, 'bumblebee', 2.5, 8.9, 'Camro')
<class 'tuple'>

In [ ]:
nest=("camera",[8,0,0,5],("car",5))
print(nest)
print(type(nest))

('camera', [8, 0, 0, 5], ('car', 5))
<class 'tuple'>

In [ ]:
multi_tuple=(8005,20,"Vityarthi",40,"car","Autobot","Python",2007)
print(multi_tuple)

(8005, 20, 'Vityarthi', 40, 'car', 'Autobot', 'Python', 2007)

In [ ]:
print(multi_tuple[1:5])

(20, 'Vityarthi', 40, 'car')

In [ ]:
print(multi_tuple[0])
print(multi_tuple[2])

print("Negative Index:")
print(multi_tuple[-1])
print(multi_tuple[-2])

8005
Vityarthi
Negative Index:
2007
Python

In [ ]:
nest=([8,0,0,5],"camro",("car",5))
print(nest[2][0])
print(nest[0][3])

car
5

In [ ]:
car=("camro","ferrari","Rolls Royce")
add=(20,70)
print(car+add)

('camro', 'ferrari', 'Rolls Royce', 20, 70)

In [ ]:
print(add*2)

(20, 70, 20, 70)

In [ ]:
 fruits=["orange","kiwi","melon","mango","apple","banana"]
 print("Length of the tuple fruits:",len(fruits))

Length of the tuple fruits: 6

In [ ]:
print("Index value of the mango in the tuple:",fruits.index("mango"))

Index value of the mango in the tuple: 3

In [ ]:
num=(2.45,20,8005,3,2007,67)
elm=(2,3,45)

print("Is 45 present in the tuple:",45 in num)
print("Is 100 present in the tuple:",100 in num)
print("Is 55 not present in the tuple:",55 not in num)

print("Is num equal to elm:",num==elm)
print("Is num not equal to elm:",num!=elm)

Is 45 present in the tuple: False
Is 100 present in the tuple: False
Is 55 not present in the tuple: True
Is num equal to elm: False
Is num not equal to elm: True

In [ ]:
nums=(1,3,5,6,8,9,45,25,3,3,55,3)
print("how many 3 are present in tuple:",nums.count(3))
print("minimum value:",min(nums))
print("maximum value:",max(nums))
del(nums)

how many 3 are present in tuple: 4
minimum value: 1
maximum value: 55

In [ ]:
First_set={21,15,97,55}
print(First_set)
print(type(First_set))

sec_set={(1,3,5),"Apple",7.5,8.5,9.5}
print(sec_set)
print(type(sec_set))

{97, 15, 21, 55}
<class 'set'>
{7.5, (1, 3, 5), 8.5, 9.5, 'Apple'}
<class 'set'>

In [ ]:
num={11,35,53,17,97,15,11,11}
print(num)

colors={"red","yellow","blue","yellow","pink","white","red","orange"}
print(colors)

{97, 17, 35, 53, 11, 15}
{'red', 'pink', 'yellow', 'blue', 'orange', 'white'}

In [ ]:
this=set(("Maruti",11,15,19,18.5))
print(this)
print(type(this))

that=(["Maruti",1,5,9,8.5])
print(that)
print(type(that))

{11, 15, 18.5, 19, 'Maruti'}
<class 'set'>
['Maruti', 1, 5, 9, 8.5]
<class 'list'>

In [ ]:
cars={"Nissan","Maruti","Chevrolet"}
cars.add("Rolls Royce")
print("Name of cars:",cars)

fruit={"apple","orange","banana"}
add_fruit={"kiwi","papaya"}
fruit.update(add_fruit)
print("Name of fruits",fruit)

prime={2,3,5,7}
num=[11,13,17]
prime.update(num)
print("prime numbers:",prime)

Name of cars: {'Rolls Royce', 'Chevrolet', 'Nissan', 'Maruti'}
Name of fruits {'kiwi', 'papaya', 'apple', 'orange', 'banana'}
prime numbers: {2, 3, 5, 7, 11, 13, 17}

In [ ]:
cars={"Lamborgini","Nissan","Maruti","Chevrolet"}
print("cars list before adding:",cars)

new_cars=cars
add_car={"Rolls Royce","BMW","Jaguar"}
new_cars.update(add_car)
print("New car list",new_cars)

cars list before adding: {'Lamborgini', 'Chevrolet', 'Nissan', 'Maruti'}
New car list {'Rolls Royce', 'BMW', 'Maruti', 'Lamborgini', 'Chevrolet', 'Nissan', 'Jaguar'}

In [ ]:
num1={1,99,5,7,6,23}
num2={23,22,99,73,85}

new_num=num1.difference(num2)
print("Value of num1-num2:",new_num)

new_num1=num2.difference(num1)
print("Value of num2-num1:",new_num1)

Value of num1-num2: {1, 5, 6, 7}
Value of num2-num1: {73, 85, 22}

In [ ]:
A={"Lamborgini","Nissan","Maruti","Chevrolet","Jaguar"}
B={"Rolls Rpyce","BMW","Jaguar"}

res=A.difference_update(B)

print('result= ',res)
print(A)

result=  None
{'Maruti', 'Lamborgini', 'Chevrolet', 'Nissan'}

In [ ]:
num1={99,100,101,2,5,66}
num2={102,100,73,2,5}

num3=num1.intersection(num2)
print("Value of intersection of num1 and num2:",num3)

fruit={"apple","orange","banana","papaya"}
fruit2={"apple","watermelon","papaya","banana"}

fruit3=fruit.intersection(fruit2)
print("value of intersection of fruit and fruit2:",fruit3)

Value of intersection of num1 and num2: {2, 100, 5}
value of intersection of fruit and fruit2: {'banana', 'papaya', 'apple'}

In [ ]:
num1={99,100,101,2,5,66}
num2={102,100,73,2,5}

num1.intersection_update(num2)
print("Intersection of num1 and num2:",num1)
print("The num1:",num1)
print("The num2:",num2)

Intersection of num1 and num2: {2, 100, 5}
The num1: {2, 100, 5}
The num2: {2, 100, 5, 102, 73}

In [ ]:
num1={99,100,101,2,5,66}
num2={102,100,73,2,5}
num3={103,98,104}

print("Are num1 and num2 disjoint:", num1.isdisjoint(num2))
print("Are num1 and num3 disjoint:", num1.isdisjoint(num3))

Are num1 and num2 disjoint: False
Are num1 and num3 disjoint: True

In [ ]:
num1={99,100,101,2,5,66}
num2={102,100,73,2,5}
num3={103,98,104}

print("Is num1 subset of num2:",num1.issubset(num2))
print("Is num2 subset of num1:",num2.issubset(num1))
print("Is num3 subset of num1:",num3.issubset(num1))

Is num1 subset of num2: False
Is num2 subset of num1: False
Is num3 subset of num1: False

In [ ]:
num1={99,100,101,2,5,66}
num2={102,100,73,2,5}

num1.intersection_update(num2)
print("Intersection of num1 and num2:",num1)
print("The num1:",num1)
print("The num2:",num2)

Intersection of num1 and num2: {2, 100, 5}
The num1: {2, 100, 5}
The num2: {2, 100, 5, 102, 73}

In [ ]:
num1={4,5,6,7,8,9}
num2={4,5,7,9}
num1={5,7,8}

set1=num1.issuperset(num2)
print("num1 is superset of num2:",set1)
set2=num2.issuperset(num1)
print("num2 is superset of num1:",set2)
set3=num1.issuperset(num3)
print("num1 is superset of num3:",set3)

num1 is superset of num2: False
num2 is superset of num1: False
num1 is superset of num3: False

In [11]:
num1={4,5,6,7,8,9}
num2={4,5,7,9}
num3={5,7,8}

set1=num1.symmetric_difference(num2)
print("Symmetric difference of num1 and num2:",set1)
set2=num1.symmetric_difference(num3)
print("Symmetric difference of num1 and num3:",set2)
set3=num2.symmetric_difference(num3)
print("Symmetric difference of num2 and num3:",set3)

Symmetric difference of num1 and num2: {6, 8}
Symmetric difference of num1 and num3: {4, 6, 9}
Symmetric difference of num2 and num3: {4, 8, 9}

In [6]:
num1={4,5,6,7,8,9}
num2={4,5,7,9}

set1=num1.symmetric_difference_update(num2)
print("Symmetric difference update of num1 and num2:",set1)
print("num1:",num1)
print("num2:",num2)

Symmetric difference update of num1 and num2: None
num1: {6, 8}
num2: {9, 4, 5, 7}

In [10]:
cars={"Nissan","Honda","Chevrolet","BMW"}
print("cars Name before clear function:",cars)

cars.clear()
print("cars Name after clear function:",cars)

cars Name before clear function: {'Honda', 'Chevrolet', 'BMW', 'Nissan'}
cars Name after clear function: set()

In [12]:
dict={}
print(dict)

{}

In [13]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
print(fruit1)

{'name': 'Apple', 'Color': 'red', 'Qnt': 2}

In [14]:
print(fruit1["Color"])

red

In [15]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
fruit1["Qnt"]=200
print(fruit1)

{'name': 'Apple', 'Color': 'red', 'Qnt': 200}

In [16]:
print(len(fruit1))

3

In [17]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
fruit1["type"]="Golden Delicious"
print(fruit1)

{'name': 'Apple', 'Color': 'red', 'Qnt': 2, 'type': 'Golden Delicious'}

In [20]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
fruit2={"name":"Strawberry","Color":"pink","Qnt":5}

Fruitbasket={
    "fruit1" : fruit1,
    "fruit2" : fruit2,
}
print(Fruitbasket)

{'fruit1': {'name': 'Apple', 'Color': 'red', 'Qnt': 2}, 'fruit2': {'name': 'Strawberry', 'Color': 'pink', 'Qnt': 5}}

In [21]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
fruitcopy=fruit1.copy()
print(fruitcopy)

{'name': 'Apple', 'Color': 'red', 'Qnt': 2}

In [22]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
fruit1.update({"Color":"green"})
fruit1.update({"Qnt":20})
print(fruit1)

{'name': 'Apple', 'Color': 'green', 'Qnt': 20}

In [23]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
reversed_dictionary={value:key for (key,value) in fruit1.items()}
print(reversed_dictionary)

{'Apple': 'name', 'red': 'Color', 2: 'Qnt'}

In [24]:
fruits=('Green Apple','Yellow Apple','Red Apple')
Qnt=20
thisdict=dict.fromkeys(fruits,Qnt)
print(thisdict)

{'Green Apple': 20, 'Yellow Apple': 20, 'Red Apple': 20}

In [26]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
x=fruit1.setdefault("Color","green")
print(x)
print(fruit1)

red
{'name': 'Apple', 'Color': 'red', 'Qnt': 2}

In [28]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
x=fruit1.setdefault("Type","Cripps Pink")
print(x)
print(fruit1)

Cripps Pink
{'name': 'Apple', 'Color': 'red', 'Qnt': 2, 'Type': 'Cripps Pink'}

In [29]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
for item in fruit1.keys():
  print(item)

name
Color
Qnt

In [30]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
for item in fruit1.values():
  print(item)

Apple
red
2

In [31]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
fruit1.values()

dict_values(['Apple', 'red', 2])

In [32]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
fruit1.keys()

dict_keys(['name', 'Color', 'Qnt'])

In [34]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
fruit1.clear()
print(fruit1)

{}

In [35]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
fruit1.pop("Color")
print(fruit1)

{'name': 'Apple', 'Qnt': 2}

In [36]:
fruit1={"name":"Apple","Color":"red","Qnt":2}
fruit1.popitem()
print(fruit1)

{'name': 'Apple', 'Color': 'red'}

In [38]:
thisdict={
    "brand":"Honda",
    "model":"Activa 6G",
    "year":2020
}
del thisdict["model"]
print(thisdict)

{'brand': 'Honda', 'year': 2020}

In [39]:
car=["Rolls Royce","jaguar","rolls royce","BMW M2"]

car_list=frozenset(car)
print("car list:",car_list)
print("car:",(type(car)))
print("carlist:",(type(car_list)))

fruit=("Strawberry","orange","banana","apple","papaya")

fruit_list=frozenset(fruit)
print("fruits list:",fruit_list)
print("fruit:",(type(fruit)))
print("fruit list:",(type(fruit_list)))

person={"name":"python","age":25,"gender":"male"}

person_set=frozenset(fruit)
print('personset:',person_set)
print("person",type(person))
print("person set",(type(person_set)))

car list: frozenset({'BMW M2', 'jaguar', 'rolls royce', 'Rolls Royce'})
car: <class 'list'>
carlist: <class 'frozenset'>
fruits list: frozenset({'banana', 'apple', 'papaya', 'orange', 'Strawberry'})
fruit: <class 'tuple'>
fruit list: <class 'frozenset'>
personset: frozenset({'banana', 'apple', 'papaya', 'orange', 'Strawberry'})
person <class 'dict'>
person set <class 'frozenset'>

In [40]:
fruit1=("apple","lemon","banana","orange","grapes","papaya")
fruit2=("apple","watermelon","coconut","orange","lemon")

fruit1=frozenset(fruit1)
fruit2=frozenset(fruit2)

In [43]:
person_likes=fruit1.copy()
print(person_likes)

frozenset({'banana', 'apple', 'lemon', 'papaya', 'orange', 'grapes'})

In [44]:
print(fruit1.union(fruit2))

frozenset({'banana', 'apple', 'coconut', 'lemon', 'papaya', 'orange', 'watermelon', 'grapes'})

In [45]:
print(fruit1.intersection(fruit2))

frozenset({'orange', 'apple', 'lemon'})

In [46]:
print(fruit1.difference(fruit2))

frozenset({'banana', 'papaya', 'grapes'})

In [48]:
print(fruit1.symmetric_difference(fruit2))

frozenset({'banana', 'coconut', 'papaya', 'watermelon', 'grapes'})

In [49]:
A=("lemon","banana","orange","grapes","papaya")
B=("watermelon","coconut","orange","lemon")
C=("coconut","watermelon")

D=frozenset(A)
E=frozenset(B)
F=frozenset(C)

print(D.isdisjoint(E))

False

In [50]:
print(F.issubset(E))

True

In [51]:
print(E.issubset(F))

False