<a href="https://colab.research.google.com/github/omkarmm19/Python-Essentials/blob/main/Module6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num_1=int(input("Enter an integer value: "))
num_2=float(input("Enter an float value: "))

print("Data type of num_1: ",type(num_1))
print("Data type of num_2 before typecasting: ",type(num_2))

value_int=int(num_2)

print("Data type after typecasting: ",type(value_int))

add=num_1 + value_int
print("Value of addition: ",add)
print("Data type of add: ",type(add))

Enter an integer value: 5
Enter an float value: 4
Data type of num_1:  <class 'int'>
Data type of num_2 before typecasting:  <class 'float'>
Data type after typecasting:  <class 'int'>
Value of addition:  9
Data type of add:  <class 'int'>

In [3]:
languages=("Python","Java","R","Julia")

print(languages)
print("Data type of state: ", type(languages))

value = list(languages)
print(value)
print("Data type of value: ", type(value))

('Python', 'Java', 'R', 'Julia')
Data type of state:  <class 'tuple'>
['Python', 'Java', 'R', 'Julia']
Data type of value:  <class 'list'>

In [1]:
s="100111"

c=int(s,2)
print("After converting to integer base 2: ", end="")
print(c)

e=float(s)
print("After converting to float: ",end=" ")
print(e)

After converting to integer base 2: 39
After converting to float:  100111.0

In [4]:
num_1=25
comp=complex(num_1)

print("The value: ",comp)
print("Data type of comp: ",type(comp))

The value:  (25+0j)
Data type of comp:  <class 'complex'>

In [6]:
a=chr(65)
b=chr(97)

print(a)
print(b)

A
a

In [10]:
c=complex(10,2)
print ("After converting integer to complex number: ",end="")
print(c)

c=complex(1.1,2.2)
print ("After converting float to complex number: ",end="")
print(c)

integer=10

string=str(integer)
print ("After converting integer to string: ",end="")
print(string)

tup=(('Python',1),('R',2),('Julia',3))

dic=dict(tup)
print ("After converting tup to dictionary: ",end="")
print(dic)

After converting integer to complex number: (10+2j)
After converting float to complex number: (1.1+2.2j)
After converting integer to string: 10
After converting tup to dictionary: {'Python': 1, 'R': 2, 'Julia': 3}

In [11]:
a=55
b=25
value=a+b
print("Value of a+b = ",value)
print("Data type of value",type(value))

Value of a+b =  80
Data type of value <class 'int'>

In [12]:
num_first=153
num_second=22.5
add = num_first + num_second

print("Data type of num_first: ",type(num_first))
print("Data type of num_second: ",type(num_second))

print("Value of addition= ",add)
print("Data type of add: ",type(add))

Data type of num_first:  <class 'int'>
Data type of num_second:  <class 'float'>
Value of addition=  175.5
Data type of add:  <class 'float'>

In [14]:
num_first=15
num_second=12.5
mul = num_first + num_second

print("Data type of num_first: ",type(num_first))
print("Data type of num_second: ",type(num_second))

print("Value of addition= ",mul)
print("Data type of add: ",type(mul))

Data type of num_first:  <class 'int'>
Data type of num_second:  <class 'float'>
Value of addition=  27.5
Data type of add:  <class 'float'>

In [15]:
value_1="Namaste"
value_2="India"
value_3= value_1 + value_2
print("After addition: ",value_3)
print("Data type of value_3: ",type(value_3))

After addition:  NamasteIndia
Data type of value_3:  <class 'str'>

In [20]:
num_int=25
num_str="65"
add = num_int + num_str
print("Data type of num_int",num_int)
print("Data type of num_str",num_str)
print("After addition: ",add)

TypeError: ignored